* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-image: url(..//img/header-img/V5HLB8NUCL.png);
	background-size: cover;
	color: #fff;
	background-color: rgba(16, 22, 54, .2);
}

.header-fon {
	background-color: rgba(16, 22, 54, .2);
}

.container-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 20px 5% 10px;
	padding-top: 3px;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
	position: relative;
}

label, #check-menu {
	display: none;
}

.container-logo {
	font-family: "Lato - Black";
	letter-spacing: 1.4px;
	position: relative;

}

.header-tochka {
	position: absolute;
	color: #4c76ff;
	bottom: 0;
	right: -4px; 
}

.container-description {
	font-family: "Lato - Thin Italic";
	font-size: 12px;
	padding-top: 5px;
}

.container-description:before {
	content: '|';
	color: #32b0ee;
	margin: 0 20px 0 33px;
}

.topnav a {
	text-decoration: none;
	color: #fff;
	margin-left: 43px;
	font-family: "Lato - Thin";
	font-weight: 400;
	letter-spacing: 0.81px;
}

.topnav a:hover {
	border-top: 2px  solid #4c76ff;
	padding-top: 26px;
}

.header-text {
	margin: 252px 0 110px 0;
	text-align: center;
}

.header-logo {
	position: relative;
	font-size: 62px;
	font-family: "Lato Black";
	font-weight: 900;
	margin-bottom: 0;
}

.logo-tochka {
	position: absolute;
	color: #4c76ff;
}

.header-title {
	opacity: .9;
	margin-top: 14px;
	font-size: 48px;
	font-weight: 400;
}

.header-title span {
	color: #4c76ff;
}

.header-description {
	opacity: .9;
	font-size: 20px;
	font-weight: 400;
	margin-top: 25px;
}

.header-description:before {
	content: '';
	width: 28px;
	height: 1px;
	display: inline-block;
	vertical-align: super;
	background-color: #4c76ff;
	margin-right: 40px;
}

.header-description:after {
	content: '';
	width: 28px;
	height: 1px;
	display: inline-block;
	background-color: #4c76ff;
	vertical-align: super;
	margin-left: 40px;
}

.header-socseti {
	text-align: center;
	margin-bottom: 122px;
}

.socseti-icon a {
	color: #8b8386;
	font-size: 20px;
	padding-right: 12px;
}

.socseti-icon a:hover {
	color: #fff;
}

/*FEATURES*/

.features {
	background: #efefef;
	padding: 79px 0 110px 0;
}

.features-container {
	text-align: center;
}

.features-headline {
	color: #4c76ff;
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.56px;
	padding-bottom: 25px;
}

.fa-heart {
	font-size: 20px;
	color: #bfbfbf;
}

.line-text:before {
	content: '';
	width: 90px;
	height: 1px;
	display: inline-block;
	vertical-align: super;
	background-color: #d7dadc;
	margin-right: 16px;
}

.line-text:after {
	content: '';
	width: 90px;
	height: 1px;
	display: inline-block;
	vertical-align: super;
	background-color: #d7dadc;
	margin-left: 16px;
}

.feautur-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 80px;
}

.features-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px;
}

.featur-card-text {
	padding-top: 19px;
	font-weight: 400;
	line-height: 20px;
	color: #062033;
}

.featur-card-img {
	padding-right: 25px;
}

.specification-description {
	color: #282528;
	font-size: 20px;
	line-height: 30.15px;
	padding: 87px 0 68px 0;
	margin: 0 auto;
	max-width: 930px;
	text-align: center;
}


.specification-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 auto;
	max-width: 1300px;
}

.specification-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 45px;
	padding: 20px;
}

.block-left, .block-right, .block-middle {
	max-width: 35%;
}

.block-left {
	padding-right: 65px;
}

.block-middle img {
	margin-bottom: 40px;
}

.block-right {
	padding-left: 85px;
}

.specification-text h2 {
	color: #282528;
	font-size: 18px;
	font-weight: 700;
	line-height: 15.08px;
	padding-bottom: 19px;
}

.specification-img {
	padding-right: 39px;
}

.specification-card-text {
	color: #282528;
	font-weight: 400;
	line-height: 20.1px;
	max-width: 300px;
	width: 100%;
}

.features-card:hover, .specification-card:hover {
	background: rgba(247,226,39,.2);
}

/*WORKS*/

.works {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	padding: 96px 0 108px 0;
}

.work-container {
	text-align: center;
}

.work-headline {
	color: #4c76ff;
	font-family:  sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.56px;
	padding-bottom: 25px;
}

.work-description {
	color: #282528;
	font-size: 20px;
	line-height: 30.15px;
	padding: 60px 0;
	margin: 0 auto;
	max-width: 930px;
	text-align: center; 
}

.menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.menu-list li {
	cursor: pointer;
	margin-left: 50px;
	color: #062033;
	font-family: "Lato - Black";
	font-size: 20px;
	font-weight: bold;
	padding: 10px 10px 9px 10px;
}

.menu-list li:hover {
	border-radius: 5px;
	background-color: #4c76ff;
}
/*portfolio*/


.portfolio-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 87px;
}

.portfolio-item {
    position: relative;
    width: 25%;
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 0;
}

.portfolio-item__image {
	width: 100%;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
    
.portfolio-item:hover .portfolio-item__image {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
    
.portfolio-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 0, 255, 0.2);
 }
    
.portfolio-item:hover .portfolio-item__overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-item__content {
    color: #fff;
    text-align: center;
 }

.portfolio-item__icon {
    font-size: 25px;
}

.portfolio-item__description {
    margin-top: 5px;
    font-size: 20px;
}

/*team*/

.may-team {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.team-container {
	text-align: center;
}

.team-headline {
	color: #4c76ff;
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.56px;
	padding-bottom: 25px;
}

.team-description {
	padding-top: 54px;
	opacity: 0.8;
	color: #062033;
	font-family: "Lato - Thin";
	font-size: 20px;
	font-weight: 400;
	line-height: 19.95px;
	max-width: 1010px;
	text-align: center;
}

.team-list {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 100px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
}

.team-list figure {
	position: relative;
}

.member-wrap {
	position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(76,118,255,.9);
    text-align: center;
    color: #fff;
    line-height: 1.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

figure:hover .member-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social-icons {
	font-size: 35px;
	color: #3c58b2;
	padding-top: 25px;
}

.member-text {
	padding: 20px 5px 0 5px;
}

.fa-twitter-square:hover, .fa-facebook:hover, .fa-google-plus-square:hover {
	color: #fff;
}

.about-member {
	text-align: center;
	padding-top: 17px;
}

.member-name {
	color: #062033;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 19.91px;
}

.member-name:hover {
	color: #0eb493;
}


.position {
	color: #062033;
	font-family: sans-serif;
	font-weight: 400;
	padding-top: 10px;
}

/*facts*/

.fun-facts {
	background-image: url(../img/facts-img/fon.png);
	background-size: cover;
	padding-top: 75px;
	margin-top: 100px;
}

.facts-container {
	text-align: center;
}

.facts-headline {
	color: #4c76ff;
	font-family: sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.56px;
	padding-bottom: 25px;
}

.weapper-about-us {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 116px;
}

.wrapper-about {
	margin-top: 25px;
}

.info-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}


.text-about {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-top: 40px;
}

.about-static span {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 14px;
}

.about-static {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

/*feeback*/

.feedback {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.feedback-cantainer {
	text-align: center;
}

.feedback-headline {
	color: #4c76ff;
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.56px;
	margin: 78px 0 25px 0;	
}

.feedback-description {
	color: #062033;
	font-family: "Lato - Thin";
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin: 54px 0 74px 0;
}

.feedback-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 89px;
}

.feedback-contact {
	max-width: 209px;
	width: 100%;
}

.feedback-contact h3 {
	color: #062033;
	font-size: 20px;
	line-height: 20.02px;
	padding-bottom: 33px;
}

.feedback-form {
	width: 50%;
	margin: 0 50px 0 48px;
}

.feedback-contact address {
	color: #6a737b;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}

.form-input textarea {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    border: none;
    border-bottom: 2px solid #000;
    resize: none;
    width: 100%;
    padding: 39px 0 15px 0;
    opacity: 0.5;
    outline: none;
}

.input-name {
	margin-right: 10px;
}

.feedback-title-form {
	color: #062033;
	font-size: 22px;
	font-weight: 700;
	line-height: 20.02px;
}

.form-input input {
	border: none;
    border-bottom: 1px solid #000;
    outline: none;
    resize: none;
    margin-top: 42px;
    opacity: 0.5;
    padding-bottom: 17px;
    width: 49%;
}

.feedback-submit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
    border: none;
    outline: none;
    color: #000;
    margin-top: 31px;
    font-weight: 400;
    background-color: #ffffff;
    width: 100%;
}

.fa-envelope {
	padding-right: 10px;
	color: #4c76ff;
}

.feedback-submit p, .fa-envelope {
	cursor: pointer;
}

.social_feedback {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	color: #062033;
	opacity: 0.4;
}

/*map*/

.map {
	opacity: .5;
}

.map iframe {
	width: 100%;
    height: 180px;
    border: none;
    background-color: transparent;
    overflow: hidden;
}

/*footer*/

footer {
	background-color: #010305;
	color: #fff;
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 60px 150px;
	margin: 0 auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.footer-tochka {
	position: relative;
    color: #4c76ff;
    left: -8px;
}

.about-footer {
	max-width: 270px;
}

.about-footer-headline {
	position: relative;
	font-weight: 400;
	font-size: 27px;
	margin-bottom: 26px;
}

.footer-tochka {
	position: absolute;
    color: #4c76ff;
    font-size: 40px;
    bottom: -3px;
    left: 88px;
}

.about-footer-description {
	font-size: 18px;
}

.footer-subscrible {
	margin: 0 90px;
}

.footer-subscrible-title {
	font-size: 18px;
	font-weight: 400;
	line-height: 21.61px;
	opacity: 0.8;
	margin-bottom: 33px;
}

.footer-input {
	border: 1px solid #fff;
	background-color: #010305;
	height: 35px;
	width: 270px;
	max-width: 100%;
}

.footer-form {
	position: relative;
	padding-bottom: 20px;
}

.footer-subscrible-button {
	position: absolute;
	cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    right: 19px;
    top: 7px;
}

.fa-long-arrow-alt-right {
	font-size: 20px;
}

.footer-href a {
	background-color: transparent;
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 50%;
    padding-bottom: 15px;
}

.footer-explore-title {
	opacity: 0.8;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 25px;
}

.footer-explore {
	width: 350px;
	max-width: 100%;
}

/*media*/

@media screen and (max-width: 1024px) {
	/*footer*/
	.footer-container {
		padding: 60px 0 0 10%;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	/*feedback*/
	.form-input input {
		width: 48%;
	}
	/*works*/
	.portfolio-items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.portfolio-item {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	/*header*/
	.topnav {
		font-size: 14px;
	}

	.topnav a {
		margin-left: 20px;
	}

	.topnav a:hover {
	border-top: 2px  solid #4c76ff;
	padding-top: 26px;
	}
	/*featurs*/
	.features-card {
		font-size: 14px;
	}
	/*specification*/
	.specification-description {
		padding: 87px 10px 68px 10px;
	}

	.specification-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.block-left {
		padding-right: 0;
	}

	.block-left, .block-right, .block-middle {
		max-width: none;
	}

	.block-right {
		padding-left: 0;
	}

	/*team*/
	.team-list {
		width: 80%;
	}

	.team-3, .team-4 {
		padding-top: 40px;
	}

	/*footer*/
	.footer-subscrible-title {
	margin-top: 10px; 
	}
	.footer-subscrible {
		margin: 0 50px;
	}
	.footer-explore {
		padding-top: 30px;
		padding-right: 287px;
	}
	/*menu*/ 
	label{
    display: block;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
	}

	.main-menu{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
	width: 383px;
	z-index: 2;
	}

	.main-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: rgba(39, 26, 26, 0.32);
	}
	.topnav a {
		margin: 0;
		padding: 25px;
	}
	.topnav a:hover {
		color: #e8c0c0;
		border-top: none;
	}
	#check-menu:checked ~ .main-menu{
	    max-height: 500px;
	    font-size: 16px;
	    text-align: center;
	}
}

@media screen and (max-width: 425px) {
	/*features*/
	.feautur-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.specification-description {
		font-size: 16px;
		line-height: 1.2;
	}
	/*works*/
	.menu-list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.menu-list li {
		margin-left: 20px;
	}
	.work-description {
		font-size: 16px;
		line-height: 1.2;
	}
	/*may-team*/
	.team-description {
		font-size: 16px;
		line-height: 1.2;
	}
	.team-2 {
		padding-top: 40px;
	}
	/*fun-facts*/
	.wrapper-about {
		width: 51%;
		margin-top: 50px;
	}
	.text-about {
		margin-top: 20px;
	}
	/*feedback*/
	.feedback {
		margin: 0 20px;
	}
	.feedback-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		line-height: 1.5;
	}
	.feedback-form {
		margin: 0;
		width: auto;
		padding-top: 40px;
	}
	.social_feedback {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding-top: 40px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.social_feedback i {
		margin-left: 30px;
		font-size: 20px;
	}
	/*footer*/
	.footer-subscrible-title {
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.footer-subscrible {
		margin: 0;
	}
	.footer-explore {
		padding-right: 0;
	}
	
}

@media screen and (max-width: 375px) {
	/*header*/
	.logo-tochka {
		right: 60px;
	}
	.header-description {
		font-size: 18px;
	}
	.header-description:after {
		margin-left: 18px;
		width: 18px;
	}
	.header-description:before {
		margin-right: 18px;
		width: 18px;
	}
	.header-title {
		font-size:38px;
	}
	.header-logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	/*menu*/
	.main-menu {
		width: 360px;
	}
	/*feedback*/
	.form-input input {
		width: 47%;
	}
}

@media screen and (max-width: 320px) {
	/*header*/
	.logo-tochka {
		right: 34px;
	}
	.container-description {
		display: none;
	}
	.header-text {
       	margin-top: 160px;
    }
    /*may-team*/
    .team-description {
    	margin: 0 10px;
    }
    /*menu*/
    .main-menu {
    	width: 310px;
    }
}